Repository dmtrack/todos_client: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

feat: add my template
  .husky/commit-msg
Due: none

test: tes
  config/build/buildLoaders.ts
  src/pages/MainPage/ui/MainPage.async.tsx
Due: npm run lint

feat: add my dev template
  src/pages/MainPage/ui/MainPage.tsx
Due: npm run lint

feat: new husky pre-push command
  .husky/pre-push
Due: none

feat: new husky hook
  .husky/pre-push
  src/pages/MainPage/ui/MainPage.tsx
Due: npm run lint

feat: add stylelint
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/serttings.json
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package.json
  src/app/styles/index.scss
  src/app/styles/reset.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/normal.scss
  src/app/styles/variables/global.scss
  src/shared/ui/LangSwitcher/LangSwitcher.module.scss
  src/shared/ui/ThemeSwitcher/ui/ThemeSwitcher.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
Due: prettier --write

feat: jest env
  .eslintrc.js
  .stylelintrc.json
  babel.config.json
  config/jest/jest.config.ts
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package-lock.json
  package.json
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/shared/lib/classNames/classNames.test.ts
Due: npm run lint, prettier --write

feat: add ci jobs
  .github/workflows/github-actions.yml
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
Due: none

chore: test ci actions
  .github/workflows/github-actions.yml
Due: none

fix: issues
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
Due: none

fix: issues in trans
  src/pages/AboutPage/ui/AboutPage.tsx
Due: npm run lint

fix: issues in translation
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package.json
  src/pages/AboutPage/ui/AboutPage.tsx
Due: npm run lint

fix: updated lint settings
  .github/workflows/github-actions.yml
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package.json
Due: none

fix: updated ci settings
  .github/workflows/github-actions.yml
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
Due: none

chore: tested new eslint prettier rules
  .eslintrc.js
  .github/workflows/github-actions.yml
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package-lock.json
  package.json
Due: npm run lint

chore: tested new eslint prettier rules 2
  .lintstagedrc
Due: none

chore: tested new eslint prettier rules 2
  .lintstagedrc.json
Due: none

chore: tested rules
  .github/workflows/github-actions.yml
Due: none

fix: changed github command
  .github/workflows/github-actions.yml
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
Due: none

chore: cicd test
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  src/pages/AboutPage/ui/AboutPage.tsx
Due: npm run lint

chore: test cicd
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
Due: none

feat: style and global providers
  .eslintrc.js
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package-lock.json
  package.json
  postcssconfig.js
  src/app/App.tsx
  src/app/providers/ContextProvider/ContextProvider.tsx
  src/app/providers/GlobalProvider/GlobalProvider.tsx
  src/app/providers/GlobalProvider/themes.ts
  src/app/providers/GlobalStyleProvider.tsx
  src/app/providers/ThemeProvider/lib/ThemeContext.ts
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/variables/global.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  tailwind.config.ts
Due: npm run lint, prettier --write

Path conditions:
  npm run lint: ((any of: *.ts) or (any of: *.js)) or (any of: *.tsx)
  prettier --write: any of: *.scss
